<!-- <style>
    body{
        background-image: url("img/backgrounf");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    h1{
        color: azure;
    }
    #login{
        text-align: center;
        margin-top: 100px;
        width: 500px;
        height: 400px;
        background-color: rgba(7, 7, 7, 0.205);
        border: 1px ridge rgba(87, 85, 85, 0.356);
        box-shadow: 0px 0px 15px;
        border-radius: 20px;
        transition: all;
        transition-duration: 500ms;
    }
    .in{
        border-color: black; 
        border: 0;
        border-bottom: 2px ridge;
        background-color:rgba(255, 255, 255, 0);
        
    }
    .in, .btn{
        width: 350px;
        height: 35px;
        margin-top: 10px;
    }
    a,p{
        
        text-decoration: none;
        color: rgb(227, 231, 231);
    }
    a{
        font-weight: 600;
        color: rgb(255, 255, 255);
    }
    #login:hover{

        background-color: rgba(0, 0, 0, 0.781);
    }
</style>

<div class="row">
    <div class="col"></div>
    <div  class="col">
        <div id="login"><br>
            <h1>My Bank</h1><br>
        <input class="in" type="text" id="uname" placeholder="Username"><br>
        <input class="in" type="text" id="ac_no" placeholder="Account Number"><br>
        <input class="in" type="password" id="pass" placeholder="Password"><br><br>
        <button type="button" class="btn btn-primary" value="Register" onclick="Register()">Register</button><br>
        <br>
        <p>Already have an Account...?&nbsp;&nbsp;<a href="./index.html">Login</a></p>
        
        </div>
        
    </div>
    
</div> -->